.footer {
  background-color:white;
  color: white;
  padding: 1rem 0rem;
  bottom: 0;
  width: 100%;
  z-index: 1000;
  position: static;
  /* border-top: 1px solid black; */
  box-shadow: 0 -0.5px 1px rgba(0, 0, 0, 0.1);
}

.footer-left {
  text-align: left;
}

.powered-by {
  display: flex;
  align-items: center;
  gap: 10px;
}



.footer-logo {
  height: 30px;
  object-fit: contain;
}

.footer-center {
  text-align: center;
}

.footer-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.footer-links a {
  color: black;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s ease;
}

.separator {
  color: rgba(0, 0, 0, 0.5);
}

.footer-right {
  text-align: right;
}

.social-links {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.social-links a {
  font-size: 20px;
  color: rgb(86, 86, 86);
  transition: color 0.3s ease;
}

.social-links a:hover {
  color: rgba(255, 255, 255, 0.8);
}

@media (max-width: 768px) {
  .footer {
    padding: 1rem 0;
  }

  .footer-left,
  .footer-center,
  .footer-right {
    text-align: center;
    margin-bottom: 1rem;
  }

  .powered-by {
    justify-content: center;
  }

  .social-links {
    justify-content: center;
  }

  .footer-logo {
    height: 25px;
  }
}

